* { 
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    height: 100vh; 
    color: white;
    background: #ebf2f5;
}

:root { 
    font-size: 62.5%;
}

body, input, button,textarea {
    font: 400 18px/1 'Nunito', sans-serif;
}

#logo { 
    animation-delay: 50ms;
}

.location { 
    animation-delay: 50ms;
}

main h1 { 
    animation-delay: 150ms;
}

.visit p { 
    animation-delay: 200ms;
}

.visit a { 
    animation-delay: 250ms;
}
